@import '../tools/tools.scss';
@import '../settings/settings.scss';


.header{
	position:relative;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.nav{
	display: none;
	text-align:center;
	justify-content:center;
	align-items:center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.8);
	transition: .5s ease;
	@include vw(m){
		display: flex;
		position: absolute;
		background-color: rgba(0,0,0,0);
		justify-content: flex-start;
		align-items: flex-start;
	    bottom: auto;
	    right: auto;
	    height: auto;
	}
	}
.menu{
	@include vw(m){
		display: flex;
		li{
			padding: 0 10px;
		}
	}
}
.headerWrap{
	text-align: center;
	position:relative;
	z-index: 1;
	padding: 4em 2em 4em 2em;
	@include vw(l){
		padding: 6em 3em;
	}
	@include vw(xl){
		padding: 13em 10em;
	}
}
.wrap{
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
	@include vw(xl){
		max-width: 1200px;
	}
}
.normal{
	line-height: 2;
	color: $colorNormal;
    margin-bottom: 1.75em;
}
.toggleMenu {
	@include vw(m){
		display: none;
	}
	@include transform(rotate(0deg));
	@include transition(.5s ease-in-out);
	float:left;
	z-index:3;
	width: 35px;
	height: 25px;
	position: absolute;
	top:0;
	left:0;
	margin: 20px;
	cursor: pointer;
	 span{
	 	@include transform(rotate(0deg));
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #fff;
		opacity: 1;
		left: 0;
		@include transition(.25s ease-in-out);
		&:nth-child(1){
			top: 0px;
			@include transform-origin(left center);
		}
		&:nth-child(2){
			top: 10px;
			@include transform-origin(left center);
		}
		&:nth-child(3){
			top: 20px;
			@include transform-origin(left center);
		}
	}
	&.open{
		span{
			&:nth-child(1){
				@include transform(rotate(45deg));
				top: -3px;
				left: 8px;
			}
			&:nth-child(2){
				width: 0%;
				opacity: 0;
			}
			&:nth-child(3){
				@include transform(rotate(-45deg));
				top: 22px;
				left: 8px;
			}
		}

	}
}
.imageText{
	background-color: $paleGray;
	&--plus{
		@extend .plus;font-size: $fontP1;
	}
	.button--red{margin-bottom: 30px;}
}
.article{
	flex-wrap: wrap;
	flex-direction:column;
	.text{
		text-align: center;
		padding: 20px;
	}
	&--image{
		max-width: 150px;
		width: 100%;
		margin: 10px auto;
		min-height: 150px;
		@extend %roundImage;
	}
	&--plus{
		@extend .plus;
		text-align: unset;
		font-size: 16px;
	}
	&--heading1{
		@extend .heading1;
		font-size: $fontH3;
		letter-spacing: 1px;
		text-align: unset;
	}
	&--normal{
		@extend .normal;
		font-size: 14px;
		color: $colorNormal;
		letter-spacing: 1px;
	}
	@include vw(l){
		.text{
			text-align: right;
		}
		flex-wrap: nowrap;
		flex-direction: row;
		&--image{
			align-self: center;
		}
		&:nth-child(odd){
			flex-direction: row-reverse;
			.text{
			text-align: left;
			}
		}
	}
	@include vw(xl){
		width: 48%;
		margin: 0 0 0 2%;
		&:nth-child(odd){
			margin: 0 2% 0 0;
		}
	}
}
.box{
	background-color: $white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction:column;
    margin-bottom: 30px;
	&--image{
		width: 100%;
	}
	.heading1{box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
	}
	&--heading{@extend .heading1;font-size: $fontH3;
	}
}
.aside{
	@extend .header;
	&--heading1{@extend .heading1;color: $white;}
}
.socialIcons{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    @include vw(m){
    	padding: 0 0 20px 0;
    }
}
.addtitionalLinks{
	display: flex;
	align-items:center;
	flex-direction: column;
	&--link{
		text-align: center;
		font-size: $fontP2;
		color: $darkGray;
		padding: 0.5em 0;
		@include transition(.5s ease-in-out);
		&:hover{
			text-decoration: underline;
			@include transition(.5s ease-in-out);
		}
		@include vw(m){
			flex:1;
			line-height: 0.3em;
			&:nth-child(even){
				border-left: 1px solid $darkGray;
				border-right: 1px solid $darkGray;
			}
		}
	}
	@include vw(m){
		flex-direction: row;
		justify-content: space-around;
	}

	}
	@include vw(m){
		.boxContainer{
			display: flex;
			align-content: stretch;
			justify-content:space-around;
			flex-wrap: wrap;
			.box{
				width:45%;
			}
			.button{
				width:45%;			}
		}
	}