$white: #fff;
$gray: #aaa;
$darkH2: #484848;
$menuc: #ddd;
$red: #f32853;
$gradientC2: #650000;
$colorNormal: #666;
$fontNormal: 16px;
$fontH1: 2.5em;
$fontH2: 1.75em;
$fontH3: 1.5em;
$fontH4: 1.35em;
$fontP1: 1.1em;
