$white: #fff;
$black : #000;
$gray: #aaa;
$darkGray: #5a5a5a;
$paleGray: #f6f6f6;
$darkH2: #484848;
$menuc: #ddd;
$red: #f32853;
$gradientC2: #650000;
$colorNormal: #666;
$fontNormal: 16px;
$fontH1: 2.5em;
$fontH2: 1.75em;
$fontH3: 1.5em;
$fontH4: 1.35em;
$fontP1: 1.1em;
$fontP2: 0.9em;
$breakpoints: (
	m: 480px,
	l: 600px,
	xl: 980px
	);