h1, h2 {
  font-weight: bold;
  text-transform: uppercase; }

.plus, .imageText--plus, .article--plus {
  color: #aaa;
  font-size: 1.25em;
  line-height: 1.75;
  margin-bottom: 1.75em;
  text-transform: uppercase;
  text-align: center; }

.article--image {
  border: solid 0.5em rgba(144, 144, 144, 0.25);
  border-radius: 50%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2 {
  font-weight: bold;
  text-transform: uppercase; }

.plus, .imageText--plus, .article--plus {
  color: #aaa;
  font-size: 1.25em;
  line-height: 1.75;
  margin-bottom: 1.75em;
  text-transform: uppercase;
  text-align: center; }

.article--image {
  border: solid 0.5em rgba(144, 144, 144, 0.25);
  border-radius: 50%; }

body {
  overflow-x: hidden; }

h1 {
  font-size: 2.5em;
  color: #fff; }

h2 {
  font-size: 1.75em;
  color: #484848; }

a {
  color: #fff;
  display: block;
  padding: 0.75em 0;
  text-decoration: none; }

section, footer {
  padding: 20px 0; }

h1, h2 {
  font-weight: bold;
  text-transform: uppercase; }

.plus, .imageText--plus, .article--plus {
  color: #aaa;
  font-size: 1.25em;
  line-height: 1.75;
  margin-bottom: 1.75em;
  text-transform: uppercase;
  text-align: center; }

.article--image {
  border: solid 0.5em rgba(144, 144, 144, 0.25);
  border-radius: 50%; }

.header, .aside {
  position: relative;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.nav {
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .5s ease; }

.headerWrap {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 4em 2em 4em 2em; }

.wrap {
  max-width: 90%;
  width: 100%;
  margin: 0 auto; }

.normal, .article--normal {
  font-size: 16px;
  line-height: 2;
  color: #666;
  margin-bottom: 1.75em; }

.toggleMenu {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  float: left;
  z-index: 3;
  width: 35px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  cursor: pointer; }

.toggleMenu span {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.toggleMenu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.toggleMenu span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.toggleMenu span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.toggleMenu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

.toggleMenu.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.toggleMenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 22px;
  left: 8px; }

.imageText {
  background-color: #f6f6f6; }
  .imageText--plus {
    font-size: 1.1em; }
  .imageText .button--red {
    margin-bottom: 30px; }

.article {
  flex-wrap: wrap;
  flex-direction: column; }
  .article .text {
    text-align: center; }
  .article--image {
    max-width: 150px;
    width: 100%;
    margin: 10px auto;
    min-height: 150px; }
  .article--plus {
    font-size: 1.1em;
    text-align: unset; }
  .article--heading1 {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: unset; }
  .article--normal {
    font-size: 16px;
    color: #666;
    letter-spacing: 1px; }
  @media (min-width: 600px) {
    .article {
      flex-wrap: nowrap;
      flex-direction: row; }
      .article .text {
        text-align: right; }
      .article--image {
        align-self: center; }
      .article:nth-child(odd) {
        flex-direction: row-reverse; }
        .article:nth-child(odd) .text {
          text-align: left; } }
  @media (min-width: 980px) {
    .article {
      width: 48%;
      margin: 0 0 0 2%; }
      .article:nth-child(odd) {
        margin: 0 2% 0 0; } }

.box {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px; }
  .box--image {
    width: 100%; }
  .box .heading1, .box .article--heading1, .box .box--heading, .box .aside--heading1 {
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15); }
  .box--heading {
    font-size: 1.5em; }

.aside--heading1 {
  color: #fff; }

.socialIcons {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 480px) {
    .socialIcons {
      padding: 0 0 20px 0; } }

.addtitionalLinks {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .addtitionalLinks--link {
    text-align: center;
    font-size: 0.9em;
    color: #5a5a5a;
    padding: 0.5em 0;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
    .addtitionalLinks--link:hover {
      text-decoration: underline;
      -webkit-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out; }
    @media (min-width: 480px) {
      .addtitionalLinks--link {
        flex: 1;
        line-height: 0.3em; }
        .addtitionalLinks--link:nth-child(even) {
          border-left: 1px solid #5a5a5a;
          border-right: 1px solid #5a5a5a; } }
  @media (min-width: 480px) {
    .addtitionalLinks {
      flex-direction: row;
      justify-content: space-around; } }

@media (min-width: 480px) {
  .boxContainer {
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap; }
    .boxContainer .box {
      width: 45%; }
    .boxContainer .button {
      width: 45%; } }

.heading1, .article--heading1, .box--heading, .aside--heading1 {
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 30px 0; }

.facebook, .twitter, .instagram {
  font-size: 1.75em;
  color: #5a5a5a;
  -webkit-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  .facebook:hover, .twitter:hover, .instagram:hover {
    color: #f32853;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.button {
  font-size: 1.35em;
  font-weight: 700;
  line-height: 1.25em;
  height: 1.15em;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  transition: .5s ease-in;
  width: 100%;
  cursor: pointer; }
  .button--red {
    background: linear-gradient(#f32853, #650000);
    color: #fff; }
  .button--dark {
    background: linear-gradient(#5a5a5a, #000); }
  .button:hover {
    border-radius: 50px;
    transition: .5s ease-in; }
  @media (min-width: 480px) {
    .button {
      max-width: 320px; } }

.flex {
  display: flex; }

@media (min-width: 980px) {
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: center; } }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
