@import '../settings/settings.scss';
@import '../tools/tools.scss';

body{overflow-x: hidden;}
h1{font-size:$fontH1;color: $white;@extend %headingStyle;}
h2{font-size:$fontH2;color: $darkH2;@extend %headingStyle;}
a{color: $white;display: block;padding: 0.75em 0;text-decoration: none;}
section,footer{padding: 20px 0;}