
@mixin buttonTemp($buttonbc:$red, $buttonc:$white,$buttonfs: 1.35em){
	background: linear-gradient($buttonbc, $gradientC2);
	color: $buttonc;
	font-size: $buttonfs;
	font-weight: 700;
	line-height: 1.25em;
	height: 1.15em;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;
	transition: .5s ease-in;
	width: 100%;
	cursor: pointer;
	&:hover{
		border-radius: 50px;
		transition: .5s ease-in;
	}
}
@mixin transform($property){
  -webkit-transform: $property;
      -ms-transform: $property;
       -o-transform: $property;
          transform: $property;
}
@mixin transform-origin($property){
  -webkit-transform-origin: $property;
      -ms-transform-origin: $property;
       -o-transform-origin: $property;
          transform-origin: $property;
}
@mixin transition($property){
  -webkit-transition: $property;
      -ms-transition: $property;
       -o-transition: $property;
          transition: $property;
}
%headingStyle{
	font-weight: bold;text-transform: uppercase;
}
%pStyle1{
	color: $gray;font-size: 1.25em;line-height:1.75;margin-bottom: 1.75em;text-transform: uppercase;text-align: center;
}
%roundImage{
	border: solid 0.5em rgba(144, 144, 144, 0.25);
	border-radius: 50%;
}